<div class="row" >
<div style="cursor: pointer;" class="col-md-3  stretch-card grid-margin mt20"  *ngFor="let c of category;index as i" >
    <div    [ngClass]="'card  card-img-holder text-white '+(i%2==0?i%3==0?'bg-gradient-success':'bg-gradient-danger ':' bg-gradient-info ')"  [routerLink]="'/user-dashboard/view-quizes/' + c.cid" style="border-radius: 10px;" >
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">{{c.title}}
        </h2>
        <h2 class="mb">23</h2>
        <h4 class="card-text"> {{c.description}} <i class="fa fa-gg" style="color:rgb(238, 234, 234);float: right;font-size:40px;"></i></h4>
      </div>
    </div>
  </div>
</div>