.mat-icon {
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 21px;
    width: 35px;
    overflow: hidden;
    text-align: center;
}